body {
    font-family: Corbel, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 20px;
}

#messages {
    border: 1px solid #9d9c9c;
    height: 80vh;
    overflow: auto;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: calc(100% - 90px);
    padding: 10px;
    border: 1px solid #9d9c9c;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    transition: .3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}
